extends layout

block body
  div(ng-controller='HomeCtrl').jumbotron
    canvas(id='resistor', width='500', height='200')
    div.container.quiz-content
      div.input-group
        input(type='text', ng-model='value', placeholder="Enter value of resistor in Ohms").form-control
        span.input-group-btn
          button(ng-click="submitAnswer(value); value=''").answer-button.btn.btn-default.form-control
            | Check
      div.answers
        ul.unstyled
          li(ng-repeat='attempt in attempts')
            div.row
              div.col-xs-6.col-md-3
                span(ng-class="{'label-warning' : !attempt.outcome, 'label-success': attempt.outcome}").label
                  | {{attempt.outcome_display}}
              div.col-xs-6.col-md-3
                span Your guess: {{attempt.guessed}}
              div.col-xs-6.col-md-3
                span Actual: {{attempt.actual}}
      div(ui-view)

  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
