extends layout

block body
  div(ng-controller='HomeCtrl')
    canvas(id='resistor', width='500', height='200')
    div.container.quiz-content
      div.input-group
        input(type='text', ng-model='value', placeholder="Enter value of resistor in Ohms").form-control
        span.input-group-btn
          button(ng-click='submitAnswer(value)').answer-button.btn.btn-default.form-control
            | Check
      div
        span
          | Resistor Value:
        span(ng-bind='resistor_value')
      div
        ul.unstyled
          li(ng-repeat='attempt in attempts')
            span(ng-class="{'label-warning' : !attempt.outcome, 'label-success': attempt.outcome}").label
              | {{attempt.outcome_display}}
            span {{attempt.guessed}} <=> {{attempt.actual}}
      div(ui-view)

  script(src='js/lib/angular/angular.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/moment.js')
  script(src='http://d3js.org/d3.v3.min.js')
  script(src='js/lib/d3.tip.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
